>A23 env_sample_A23_partial_sequence
ATGTCTACTAACTTTGAAAAACATTTCCAAGAAAACGTCGATGAATGCACTCTAGAGCAA
CTAAGGGACATCTTAGTCAACAAGTCCGGCAAAACAGTTTTGGCCAACAGATTTAGAGCT
CTGTTCAACTTAAAGACTGTTGCTGAAGAATTTGCCACTAAGCCAGAGGAAGCCAAAAAG
GCCATCGAATACATTGCCGAATCCTTCGTCAATGACAAGTCTGAGTTGTTGAAGCACGAA
GTGGCCTACGTGTTGGGTCAAACCAAGAACTTGGACGCTGCTCCAACTTTAAGACACGTT
ATGTTAGATCAAAATCAAGAACCAATGGTGAGACACGAAGCCGCTGAGGCTTTGGGTGCC
CTAGGTGACAAGGATTCGTTGGATGACCTAAATAAGGCTGCTAAGGAGGATCCACACGTT
GCTGTGAGAGAAACCTGTGAACTGGCCATTAACAGAATCAACTGGACCCATGGAGGTGCC
AAGGATAAGGAAAACTTGCAACAATCCCTATACTCGAGTATTGACCCAGCCCCACCTCTA
CCATTAGAAAAGGATGCTACCATCCCAGAACTACAGGCCTTATTGAATGATCCTAAGCAA
CCTTTGTTCCAAAGATACAGAGCCATGTTCAGACTGAGAGATATCGGTACTGATGAAGCA
ATCCTGGCCTTGGCCACTGGTTTCAGTGCAGAATCCTCCCTTTTCAAGCATGAAATCGCC
TACGTCTTCGGTCAAATAGGTAGTCCGGCTGCTGTCCCAAGTTTGATTGAAGTTTTGGGC
AGAAAGGAAGAAGCTCCAATGGTTAGGCATGAAGCTGCTGAAGCCTTGGGTGCCATTGCT
TCTCCAGAAGTTGTCGACGTCTTGAAATCTTACCTCAACGATGAAGTCGATGTCGTCAGA
GAATCTTGTATCGTTGCGCTAGATATGTATGATTACGAAAACAGCAACGAACTAGAATAT
GCTCCAACTGCTAATTAG